     <div class="question-and-answer-container">
     <div class="question">
          <h2>
          {{ getQuestionText() }}
          </h2>
     </div>
     <div id="answerbox"
     (drop)="onDrop($event)"
     (dragover)="allowDrop($event)"
     >Enter the Right Answer Here!
</div>
     <div class="btn-group">
          <div 
          class="answer-drag"
          draggable="true"
          (dragstart)="drag($event)"
          *ngFor="let answer of getAnswerSet()">
          <p>
               {{ answer }}
          </p>
          </div>
     </div>
     <button (click)="checkForRightAnswerDrag()">Submit</button>
</div>
