     <div class="question-and-answer-container">
     <div class="question">
          <h2>
          {{ getQuestionText() }}
          </h2>
     </div>
     <div class="directions">
          <p>Drag the correct answer to the answer box below, click submit when you are completed!</p>
     </div>
     <div id="answerbox"
     class="answerbox"
     (drop)="onDrop($event)"
     (dragover)="allowDrop($event)"
     >Drag the Right Answer Here!
</div>
     <div class="btn-group">
          <div 
          class="answer-drag"
          draggable="true"
          (dragstart)="drag($event)"
          *ngFor="let answer of getAnswerSet()">
          <p>
               {{ answer }}
          </p>
          </div>
     </div>
     <button 
     class="answer-button"
     (click)="checkForRightAnswerDrag()">Submit</button>
     <app-toast></app-toast>

</div>
