<nav class="fang-navbar">
  <section class="fang-navbar__logo">
    <span class="logo-thin">Projekt:</span>
    <span class="logo-thick">Monsterz</span>
  </section>
  <ul class="fang-navbar__items">
    <ng-container *ngFor="let route of routes">
      <li 
        class="fang-navbar__item"
        *ngIf="route.displayCheck ? route.displayCheck() : true"
      >
        <a
          class="fang-navbar__link"
          [routerLink]="route.location"
          *ngIf="route.location"
        >{{route.label}}</a>
        <button
          class="fang-navbar__button"
          (click)="route.onClick()"
          *ngIf="route.onClick"
        >{{route.label}}</button>
      </li>
    </ng-container>
  </ul>
</nav>
