<nav class="pm-navbar">
  <section class="pm-navbar__logo">Project: MONSTERZ</section>
  <ul class="pm-navbar__items" *ngIf="routes.length > 0">
    <ng-container *ngFor="let route of routes">
      <li class="pm-navbar__item" *ngIf="route.displayCheck ? route.displayCheck() : true;">
        <a class="pm-navbar__link" *ngIf="route.location" [routerLink]="route.location">{{route.label}}</a>
        <button class="pm-navbar__button" *ngIf="route.onClick" backgroundColour="var(--colour-secondary)" (click)="route.onClick()">{{route.label}}</button>
      </li>
    </ng-container>
  </ul>
</nav>
