<main id="landing">
  <section class="content">
    <div class="w-1/2 flex justify-start flex-col">
      <h3>Planet Monsterz needs your help!</h3>
      <p>The monsters are under attack, and they need your help to defend against the robot invaders!</p>
      <p>We'll teach you core programming and Computer Science skills that you'll need to save Planet Monsterz!</p>
      <button class="cta" (click)="openRegistration()">Join the Fight</button>
    </div>
    <div class="w-1/2">
      <img src="assets/img/monster-scared.png" width="66%"/>
    </div>
  </section>
  <span class="gradient"></span>
</main>
