<main id="page-home" class="pm-page">
  <pm-card>
    <div style="width: 25vw;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, harum? Recusandae, quidem. Non optio, sunt veniam beatae sit deserunt vero amet ipsum facilis totam cupiditate corrupti perferendis. Aliquid, laboriosam soluta?
    </div>
  </pm-card>
  <pm-button [clickHandler]="onClick" [backgroundColour]="'var(--colour-primary)'">Submit</pm-button>
  <pm-input 
    [placeholder]="'Username / Email'" 
    [iconUrl]="'./assets/icons/user-regular.svg'" 
    [type]="'text'" 
    [validationRules]="inputRules"
    [id]="'username'"
  ></pm-input>
  <pm-input
    [placeholder]="'Password'" 
    [iconUrl]="'./assets/icons/lock-solid.svg'" 
    [type]="'password'" 
    [validationRules]="inputRules"
    [id]="'password'"
  ></pm-input>
</main>
