<main id="page-home" class="pm-page">
  <pm-card>
    <div style="width: 25vw;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, harum? Recusandae, quidem. Non optio, sunt veniam beatae sit deserunt vero amet ipsum facilis totam cupiditate corrupti perferendis. Aliquid, laboriosam soluta?
    </div>
  </pm-card>
  <fang-button [onClick]="onClick" [backgroundColour]="'var(--colour-primary)'">Submit</fang-button>
  <fang-input 
    [placeholder]="'Username / Email'" 
    [iconUrl]="'./assets/icons/user-regular.svg'" 
    [type]="'text'" 
    [validationRules]="inputRules"
    [id]="'username'"
  ></fang-input>
  <fang-input
    [placeholder]="'Password'" 
    [iconUrl]="'./assets/icons/lock-solid.svg'" 
    [type]="'password'" 
    [validationRules]="inputRules"
    [id]="'password'"
  ></fang-input>
</main>
