<div class="question-and-answer-container">
     <div class="question">
          <h2>
          {{ getQuestionText() }}
          </h2>
     </div>
     <div class="directions">
          <p>Type in the correct answer for the question given above!</p>
     </div>
     <div class="input-container">
          <label for="answer">Enter your answer below!</label>
          <input class="answer-input" #answer type="text" name="answer">
     </div>
     <button
      class="answer-button"
      (click)="checkForRightAnswer(answer.value)"
      >Submit</button>
      <app-toast></app-toast>

</div>
