.formContainer {
     display: flex;
     flex-direction: column;
     background-color: #262943;
     color: white;
     text-align: center;
     border-radius: 20px;
     margin: 0 auto;
     width: 60%;
     height: 100px;
     animation: handWave 4s forwards ease-in-out;

}
 .exit {
     position: relative;
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
     margin-left: 92%;
}


@keyframes handWave {
     from {
          background-color: inherit;
          color: transparent;
          background-color: transparent;

     }
     to {
          background-color: red;
          color: white;

     }

}