.grid-area {
     height: 93%;
     display: grid;
     grid-gap: 50px;
     grid-template-areas: 
     "leaderboard mainselection scoresheet"
     "leaderboard mainselection scoresheet"
     "leaderboard mainselection monstercage"
     "leaderboardtoggle mainselection monstercage";
     grid-template-columns: 1fr 2fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     align-items: center;
     overflow: hidden;
     padding: 20px;
}

.globeIcon {
     padding-top: 5px;
     height: 59px;
}
.friendsIcon {
     padding-left: 5px;
     width: 40px;
     height: 30px;
}
.scoreSheet {
     padding: 33% 30px 30px 30px;
     grid-area: scoresheet;
     align-self: center;
     background-color: white;
     border-radius: 20px;
     height: 100%;
     width: 100%;
     text-align: center; 
     box-shadow: -1.2px -1.2px green;
     border-bottom: transparent;
     border-right: transparent;
}

.main-selection {
     grid-area: mainselection;
     background-color: white;
     height: 100%;
     width: 100%;
     border-radius: 20px;
     padding: 20px;

     

}
.main-selection-text {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 80%;
}

.leaderboard {
     grid-area: leaderboard;
     background-color: white;
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     text-align: center;
     border-radius: 20px;
     padding: 20px;
}

.leaderboard table{
     width: 100%;
}
.circle-color {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: blue;
}
.points {
     width: 20%;
}
.username {
     width: 70%;
}
.leaderboardToggle {
     grid-area: leaderboardtoggle;
     background-color: white;
     height: 100%;
     width: 100%;
     display: flex;
     border-radius: 20px;
     justify-content: center;
     align-items: center;

}

.monstercage {
     grid-area: monstercage;
     background-color: white;
     align-items: center;
     height: 100%;
     width: 100%;
     align-self: center;
     border-radius: 20px;
     overflow: hidden;

}

#myProgress {
     border-radius: 50%;
     padding: 15px 0 0 15px;

     margin: 0 auto;
     width: 100px;
     height: 100px;
    }
    #myBar {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      background-color: white;
      text-align: center;

 }


 .blocker {
     height: 60px;
     width: 100%;
     margin: -70px 0 0 0;
     background-color: white;
 }
.percentageOfCourseCompletion {
     padding-top:20px ;
}


 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
   }
   
   .switch input { 
     opacity: 0;
     width: 0;
     height: 0;
   }
   
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   input:checked + .slider {
     background-color: #2196F3;
   }
   
   input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
   }
   
   /* Rounded sliders */
   .slider.round {
     border-radius: 34px;
   }
   
   .slider.round:before {
     border-radius: 50%;
   }
.characterSheet {
     align-self: center;
}
.button-group {
     justify-content: center;
     display: flex;
     flex-direction: column;
}

.welcomeScreenMonster {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0 auto;
 
     width: 220px;

}


.welcomeScreenMonsterDecor {
     position: relative;
     width: 250px;
     z-index: 1;
     top: 100px;
     margin: 0 auto;

}
.welcomeScreenMonsterEyes {
     position: relative;
     margin: 0 auto;
     width: 170px;
     top: 87px;
     z-index: 2;
}

.welcomeScreenMonsterMouth {
     position: relative;
     width: 179px;
     margin: 0 auto;
     top: 100px;
     z-index: 2;
}
.welcomeScreenMonsterBody {
     position: relative;
     z-index: 1;
     width: 200px;
     height: 100%;
     top: -64px;
     margin: 0 auto;

}
.welcomeScreenMonsterLeftArm {
     position: relative;
     transform: scaleX(-1);
     right: 100px;
     height: 67px;
     width: 52px;
     z-index: 0;
     margin: 0 auto;
     top: -188px;

}
.welcomeScreenMonster2RightArm {
     position: relative;
     animation: handWave 2s 3s 24 alternate-reverse forwards;
     z-index: 0;
     right: -104px;
     height: 67px;
     width: 52px;
     margin: 0 auto;
     top: -265px;

}
.welcomeScreenMonsterRightArm {
    position: relative;
    animation: handWave 4s 1s 24 alternate-reverse forwards;
    z-index: 0;
    right: -70px;
    height: 49px;
    width: 52px;
    margin: 0 auto;

}
.welcomeScreenMonsterLeftLeg {
     position: relative;
     height: 51px;
     width: 34px;
     z-index: 0;
     right: 27px;
     margin: 0 auto;
     top: -218px
}
.welcomeScreenMonsterRightLeg {
     position: relative;
    height: 51px;
    width: 34px;
    transform: scaleX(-1);
    z-index: 0;
    margin: 0 auto;
    top: -261px;
    right: -24px;
}

