<main>
<header>
     <h3>Hello {{username}}, Let's get to work</h3>
</header>
<div class="intro-content">
<div >
     <h5>
          Hi, {{username}}
     </h5>
     <p>Welcome to the new learning platform offered by Charlie and Friends inc.
     </p>
     <div>
          <button>Continue Learning</button>
          <button>Browse Other Tutorials</button>
     </div>
</div>
<div class="scoreSheet">
     <div class="scoreSheetText">
          <h6>Good Work!</h6>
          <p>Your score is:</p>
          <h6>{{ score }}</h6>
     </div>
     <div 
     id="myProgress"
     [ngStyle]="setProgressBar()">
     <div id="myBar">   
          <h6 class="percentageOfCourseCompletion">{{ progress }}%</h6>
     </div>
     </div>
     
</div>
<div class="blocker"></div>
</div>
<div class="column-container">
     <app-dashboard-module 
     class="module"
     *ngFor="let module of moduleArray; let i = index"
     [currentModule]="module">
</app-dashboard-module>
</div>
</main>
     
