@tailwind base;
@tailwind components;
@tailwind utilities;

app-root {
     display: block;
}
a {
     cursor: pointer;
}
app-dashboard {
     display: block;
     background-color: #7967C9;
     height: 100%;
}