.fang_input {
  display: block;
  height: fit-content;
  width: fit-content;
  position: relative;
}

.fang_input--input {
  height: 1em;
  min-width: 16em;

  font-size: 16pt;
  font-weight: 200;
  text-transform: lowercase;
  letter-spacing: 0.0625em;
  color: var(--colour-input-foreground);

  padding: 0.5em;
  padding-left: 2.25em; /** Allows a slot for the icon, if it exists. */

  border-radius: 1em;
  border-style: none;

  box-shadow: inset 0px -1px 4px rgba(1, 2, 3, 0.125),
    inset 0px 2px 4px rgba(1, 2, 3, 0.50);
}

.fang_input--input:hover {
  box-shadow: inset 0px -1px 4px rgba(1, 2, 3, 0.0625),
    inset 0px 2px 4px rgba(1, 2, 3, 0.25);
}

.fang_input--input:focus {
  background-color: var(--colour-input-focus-background);
  outline: none;
  box-shadow: inset 0px -1px 4px 2px var(--colour-input-focus-shadow),
    inset 0px 2px 4px 2px var(--colour-input-focus-25), 
    0 0 3px 1.5px var(--colour-input-focus);
}

.fang_input--input.invalid {
  background-color: var(--colour-input-invalid-background);
  box-shadow: inset 0px -1px 4px var(--colour-input-invalid-12),
    inset 0px 2px 4px var(--colour-input-invalid-50);
}

.fang_input--input.invalid:focus {
  background-color: var(--colour-input-invalid-background);
  outline: none;
  box-shadow: inset 0px -1px 4px 2px var(--colour-input-invalid-shadow),
    inset 0px 2px 4px 2px var(--colour-input-invalid-25), 
    0 0 3px 1.5px var(--colour-input-invalid);
}

.fang_input--input.valid {
  background-color: var(--colour-input-valid-background);
  box-shadow: inset 0px -1px 4px var(--colour-input-valid-12),
    inset 0px 2px 4px var(--colour-input-valid-50);
}

.fang_input--input.valid:focus {
  background-color: var(--colour-input-valid-background);
  outline: none;
  box-shadow: inset 0px -1px 4px 2px var(--colour-input-valid-shadow),
    inset 0px 2px 4px 2px var(--colour-input-valid-25), 
    0 0 3px 1.5px var(--colour-input-valid);
}

.fang_input--rules {
  margin-top: 0.125em;

  font-size: 10pt;
  font-variant-caps: normal;
  font-weight: 200;
}

.fang_input--rules li::marker {
  content: "";
}

.fang_input--rule {
  margin-left: -1em;
  color: var(--colour-input-foreground);
}

.fang_input--rule.valid {
  color: var(--colour-input-valid);
}

.fang_input--rule.invalid {
  color: var(--colour-input-invalid);
}

.fang_input--icon {
  height: 1em;
  width: 1em;
  mask-size: fill;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: var(--colour-input-foreground);
  position: absolute;
}

.fang_input--icon.invalid {
  background-color: var(--colour-input-invalid);
}

.fang_input--icon.valid {
  background-color: var(--colour-input-valid);
}

.fang_input--icon:first-of-type {
  top: 0.4em;
  left: 0.5em;
}

.fang_input--icon:last-of-type {
  right: 0.5em;
  top: 0.4em;
}
