<div class="fang_input">
  <input 
    [(ngModel)]="inputValue"
    [name]="id"
    [id]="id"
    [class]="inputClasses.join(' ')"
    [placeholder]="placeholder"
    [type]="type"
  />
  <i 
    [class]="getIconClasses().join(' ')"
    [style]="'mask-image: url(' + iconUrl + ');'"
  ></i>
  <i 
    [class]="getIconClasses().join(' ')"
    style="mask-image: url('./assets/icons/eye-solid.svg');"
    (click)="toggleVisibility()"
    *ngIf="trueType === 'password' && !isPasswordVisible"
  ></i>
  <i 
    [class]="getIconClasses().join(' ')" 
    style="mask-image: url('./assets/icons/eye-slash-solid.svg');"
    (click)="toggleVisibility()"
    *ngIf="trueType === 'password' && isPasswordVisible"
  ></i>
  <ul
    class="fang_input--rules"
    *ngIf="validationRules.length > 0"
  >
    <li 
      *ngFor="let rule of validationRules"
      [class]="getRuleClasses(rule).join(' ')"
    >{{rule.description}}</li>
  </ul>
</div>
