<!-- <main>
  <div class="intro-text">
    <h3>Projekt Monsterz</h3>
    <h4>Cool Tagline Here!</h4>
  </div>
  <div class="button-group">
    <button class="openmenu" (click)="OpenRegistrationModal()">Register</button>
    <a>Try Without Registration</a>
  </div>
  <footer>
    <div class="characterSheet">
      <div class="welcomeScreenMonster">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterDecor"
            alt="Welcome Screen Monster's Head Decor"
            src="../../assets/welcome-screen-monsters/monster0_detail.png" />
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterEyes"
            alt="Welcome Screen Monster's Eyes"
            src="../../assets/welcome-screen-monsters/monster0_eye.png" />
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterMouth"
            alt="Welcome Screen Monster's Body"
            src="../../assets/welcome-screen-monsters/monster0_mouth.png" />
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterBody"
            alt="Welcome Screen Monster's Body"
            src="../../assets/welcome-screen-monsters/monster0_body.png" />
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterLeftArm"
            alt="Welcome Screen Monster's Left Arm"
            src="../../assets/welcome-screen-monsters/monster0_arm.png" />
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster2RightArm"
            alt="Welcome Screen Monster's Right Arm"
            src="../../assets/welcome-screen-monsters/monster0_arm.png" />
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterLeftLeg"
            alt="Welcome Screen Monster's Left Leg"
            src="../../assets/welcome-screen-monsters/monster0_leg.png" />
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterRightLeg"
            alt="Welcome Screen Monster's Rigth Leg"
            src="../../assets/welcome-screen-monsters/monster0_leg.png" />
      </div>    
    </div>
    <h5>Scroll to Learn More</h5>
    <h1 class="caret-down">^</h1>
  </footer>
</main> -->

<main class="home">
  <section class="left">
    <div class="view-screen">
      <div class="monster-color">
        <div class="monster-waving"></div>
      </div>
    </div>
    <div class="frequency-indicator">
      <div class="needle"></div>
      <div class="frequency-markers"></div>
    </div>
  </section>
  <section class="right">
    <div class="speaker-container">
      <div class="speaker-dialogue">Planet Monsterz is under attack! We need your help to fight the robot menace!</div>
      <div class="dialogue-tail"></div>
      <div class="speaker"></div>
    </div>
    <div class="buttons">
      <div class="btn-color" id="btn-green">
        <button class="arcade-btn" id="register-btn" type="button" (click)="OpenRegistrationModal()">REGISTER</button>
      </div>
      <div class="btn-color" id="btn-yellow">
        <button class="arcade-btn" id="learn-more-btn" type="button">LEARN<br />MORE</button>
      </div>
    </div>
  </section>
</main>
