main.dashboard {
  height: 100%;
  width: 100%;
  background-color: #f4254c;
  font-family: "Kanit", san-serif;
}

.grid-area {
  margin-top: 8pt;
  border-radius: 40px 40px 0 0;
  height: 90%;
  width: 100%;
  display: grid;
  grid-gap: 40px;
  grid-template-areas:
    "leaderboard mainselection scoresheet"
    "leaderboard mainselection scoresheet"
    "leaderboard mainselection monstercage"
    "leaderboardtoggle mainselection monstercage"
    "footer footer footer";
  grid-template-columns: 1fr 2.8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  align-self: center;
  align-content: center;
  overflow: hidden;
  padding: 20px;
  align-items: center;
  justify-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 1vw;
  width: 3vw;
  height: 3vw;
  color: white;
}

.circle {
  border-radius: 100%;
  width: 1vw;
  height: 1vw;
  margin-top: 0.5vw;
  background-color: green;
}

.scoreSheet {
  background-color: #c2f5ff;
  grid-area: scoresheet;
  align-self: center;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-bottom: transparent;
  border-right: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px -10px 0px 0px #83d1e1;
}

.scoreSheet h1 {
  padding-top: 10px;
}

.main-selection h1 {
  font-size: 5rem;
}

.main-selection {
  box-shadow: 0px -10px 0px 0px #83d1e1;
  background-color: #c2f5ff;
  grid-area: mainselection;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 0 50px 0 50px;
}

.main-selection-footer {
  position: absolute;
  bottom: 5em;
  right: 20em;
  text-align: center;
  font-size: 18pt;
  cursor: pointer;
}

.main-selection-text {
  text-align: center;
  font-size: 72pt;
  font-weight: 700;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.main-selection-text a {
  color: #240101;
  text-decoration: none;
}

.main-selection-text a:hover::before {
  content: "▶";
  font-size: 72pt;
  margin-left: -2em;
  margin-right: 1.1225em;
}

.leaderboard {
  box-shadow: 0px -10px 0px 0px #83d1e1;
  background-color: #c2f5ff;
  grid-area: leaderboard;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

.leaderboard table {
  text-transform: uppercase;
  text-align: left;
  vertical-align: bottom;
  text-align: left;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-radius: 45px;
}

tr:nth-child(odd) {
  background-color: #4C8BF5;
  color: #fff;
}

tr td {
  border-color: transparent;
  padding: 1em;
}

tr.score-other:nth-child(1)>td:nth-child(1) {
  border-top-left-radius: 45px;
}

tr.score-other:nth-child(1)>td:nth-child(3) {
  border-top-right-radius: 45px;
}

tr.score-other:first-of-type {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.score-you>td:nth-child(1) {
  border-bottom-left-radius: 15px;
}

.score-you>td:nth-child(3) {
  border-bottom-right-radius: 15px;
}

.circle-color {
  margin-left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: blue;
}

.leaderboardToggle {
  grid-area: leaderboardtoggle;
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: -2vw;
  justify-content: flex-start;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.monstercage {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  grid-area: monstercage;
  align-items: center;
  height: 100%;
  width: 100%;
  align-self: center;
  border-radius: 20px;
  overflow: hidden;
}

#myProgress {
  border-radius: 50%;
  ;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.progress {
  margin: -2em auto;
  height: 280px;
  width: 280px;
}

.progress-percent {
  margin-top: -4.5em;
  color: #240101;
  font-size: 24pt;
  font-weight: 700;
}

.characterSheet {
  background-image: url('../../../assets/welcome-screen-monsters/monster0.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 9vh;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 9vw;
  height: 6vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

iframe {
  z-index: 6;
}

svg {
  color: white;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bd2551;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  content: "|||";
  text-align: center;
  height: 4vw;
  padding-top: 0.5vw;
  padding-bottom: 1.5vw;
  padding-right: 1vw;
  width: 5vw;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -0.25em;
  background-color: #f2f3e5;
  transition: .4s;
  color: #dcdfc4;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(3vw);
  -ms-transform: translateX(3vw);
  transform: translateX(3vw);
}

.slider.round {
  border-radius: 3vw;
}

.slider.round:before {
  border-radius: 50%;
}

.characterSheet {
  align-self: center;
}

.button-group {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #bf2855;
  width: 100%;
  height: 1.75em;
  font-size: 24pt;
  font-weight: 700;
  padding-top: 0.25em;
  letter-spacing: 1px;
  color: white;
}