<main id="dashboard">
  <div class="w-1/4 mx-auto">
    <div class="bg-slate-100 dark:bg-slate-900">
      <table id="leaderboard">
        <tr class="score-row bg-slate-400 dark:bg-slate-600" *ngFor="let entry of getLeaderboard()">
          <td><span class="score-circle-color"></span></td>
          <td class="score-username">{{entry.username}}</td>
          <td class="score-score">{{entry.score}}</td>
        </tr>
        <tr 
          class="score-row bg-slate-400 dark:bg-slate-600" 
          *ngFor="let empty of fillerEntries"
        >
          <td></td>
          <td>BlankUser</td>
          <td>0</td>
        </tr>
        <tr class="score-you">
          <td></td>
          <td class="score-username">You</td>
          <td class="score-score">{{score}}</td>
        </tr>
      </table>
    </div>
    <div id="leaderboard-toggle">
      <div class="fang-switch">
        <label class="fang-switch__option">
          <i class="bg-slate-800 dark:bg-slate-100 fang-icon globe"></i>
          <span 
            class="fang-switch__indicator"
            [ngStyle]="globalLeaderboardSelected ? { 'background-color': 'lightgreen' } : {}"
          ></span>
        </label>
        <label class="fang-switch__switch">
          <input type="checkbox" (click)="onToggleButtonClick()" />
          <span class="fang-switch__thumb"></span>
        </label>
        <label class="fang-switch__option">
          <i class="bg-slate-800 dark:bg-slate-100 fang-icon friends"></i>
          <span 
            class="fang-switch__indicator"
            [ngStyle]="!globalLeaderboardSelected ? { 'background-color': 'lightgreen' } : {}"
          ></span>
        </label>
      </div>
    </div>
  </div>
  <div class="bg-slate-100 dark:bg-slate-900 w-1/2 mx-auto">
    
  </div>
</main>