<div class="grid-row flex-column  text-center border-top border-bottom">
    <h3 class="grid-col flex-fill">Learn Programming Today</h3>
    <button class="usa-button--secondary" (click)="sendEmitterForRegisterScreen('register')">Register</button> 
    <a class="grid-col flex-fill">Try As Guest</a>
    <!-- image container below: -->
    <div class="display-flex flex-justify">
     <figure>
          <img alt="sample">
     </figure>
     <figure>
          <img alt="sample">
     </figure>
    </div>

</div>
<div class="bg-base-darker text-base-lightest border border-bottom-8">
     <h5>Welcome to Projekt Monsterz</h5>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, aliquid maiores enim numquam quos aut temporibus ab ducimus vitae ullam vero, dolore neque sequi nam quibusdam, inventore molestias aliquam voluptates?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi veritatis quos reprehenderit, laborum pariatur quod quam quaerat a quia error quibusdam odit maiores, harum voluptate tenetur. Voluptates, optio suscipit?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima quibusdam id repellat aut atque ullam cupiditate, obcaecati ea aliquid. Dicta, quis soluta quae nihil assumenda eius minima iste neque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima quibusdam id repellat aut atque ullam cupiditate, obcaecati ea aliquid. Dicta, quis soluta quae nihil assumenda eius minima iste neque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima quibusdam id repellat aut atque ullam cupiditate, obcaecati ea aliquid. Dicta, quis soluta quae nihil assumenda eius minima iste neque!</p>
</div>