<div class="grid-row flex-column text-center border-top border-bottom">
    <h3 class="grid-col flex-fill">Learn Programming Today</h3>
    <button class="usa-button--secondary" (click)="sendEmitterForRegisterScreen('register')">Register</button> 
    <a class="grid-col flex-fill">Try As Guest</a>
  
    <div class="characterSheet">
    <!-- image container below: -->
    <div class="welcomeScreenMonster1">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Decor" alt="Welcome Screen Monster's Head Decor" src="../../assets/welcome-screen-monsters/monster0_detail.png">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Eyes" alt="Welcome Screen Monster's Eyes" src="../../assets/welcome-screen-monsters/monster0_eye.png">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Mouth" alt="Welcome Screen Monster's Body" src="../../assets/welcome-screen-monsters/monster0_mouth.png">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Body" alt="Welcome Screen Monster's Body" src="../../assets/welcome-screen-monsters/monster0_body.png">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1LeftArm" alt="Welcome Screen Monster's Left Arm" src="../../assets/welcome-screen-monsters/monster0_arm.png">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster2RightArm" alt="Welcome Screen Monster's Right Arm" src="../../assets/welcome-screen-monsters/monster0_arm.png">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1LeftLeg" alt="Welcome Screen Monster's Left Leg" src="../../assets/welcome-screen-monsters/monster0_leg.png">
          <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1RightLeg" alt="Welcome Screen Monster's Rigth Leg" src="../../assets/welcome-screen-monsters/monster0_leg.png">
</div>
<div class="welcomeScreenMonster1">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Decor" alt="Welcome Screen Monster's Head Decor" src="../../assets/welcome-screen-monsters/monster0_detail.png">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Eyes" alt="Welcome Screen Monster's Eyes" src="../../assets/welcome-screen-monsters/monster0_eye.png">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Mouth" alt="Welcome Screen Monster's Body" src="../../assets/welcome-screen-monsters/monster0_mouth.png">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1Body" alt="Welcome Screen Monster's Body" src="../../assets/welcome-screen-monsters/monster0_body.png">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1LeftArm" alt="Welcome Screen Monster's Left Arm" src="../../assets/welcome-screen-monsters/monster0_arm.png">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1RightArm" alt="Welcome Screen Monster's Right Arm" src="../../assets/welcome-screen-monsters/monster0_arm.png">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1LeftLeg" alt="Welcome Screen Monster's Left Leg" src="../../assets/welcome-screen-monsters/monster0_leg.png">
     <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster1RightLeg" alt="Welcome Screen Monster's Rigth Leg" src="../../assets/welcome-screen-monsters/monster0_leg.png">
</div>
</div>


</div>
<div class="bg-base-darker text-base-lightest border border-bottom-8">
     <h5>Welcome to Projekt Monsterz</h5>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, aliquid maiores enim numquam quos aut temporibus ab ducimus vitae ullam vero, dolore neque sequi nam quibusdam, inventore molestias aliquam voluptates?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi veritatis quos reprehenderit, laborum pariatur quod quam quaerat a quia error quibusdam odit maiores, harum voluptate tenetur. Voluptates, optio suscipit?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima quibusdam id repellat aut atque ullam cupiditate, obcaecati ea aliquid. Dicta, quis soluta quae nihil assumenda eius minima iste neque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima quibusdam id repellat aut atque ullam cupiditate, obcaecati ea aliquid. Dicta, quis soluta quae nihil assumenda eius minima iste neque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima quibusdam id repellat aut atque ullam cupiditate, obcaecati ea aliquid. Dicta, quis soluta quae nihil assumenda eius minima iste neque!</p>
</div>