<main>
     <div class="question-and-answer-container">
          <div class="userScore"> {{ currentProgress }}</div>
     <div class="question">
          <h2>
          {{ currentQuestion.contentText }}
          </h2>
     </div>
     <div class="btn-group">
          <button 
          class="answer-button"
          *ngFor="let answer of currentQuestion.genericAnswers"
          (click)="checkForRightAnswer(answer)">
          <h5>
               {{ answer }}
          </h5>
          </button>
     </div>
</div>
</main>
