<header>
  <nav class="primary">
    <section class="left">
      <a class="nav-item" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">PROJEKT MONSTERZ</a>
    </section>
    <section class="right">
      <a (click)="OpenLoginModal()" class="nav-item login-btn" *ngIf="!IsLoggedIn()">LOGIN</a>
      <a class="nav-item" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"
        *ngIf="IsLoggedIn()">DASHBOARD</a>
      <a (click)="Logout()" class="nav-item login-btn" *ngIf="IsLoggedIn()">LOGOUT</a>
    </section>
  </nav>
</header>
<app-login-screen *ngIf="IsLoginModalOpen()"></app-login-screen>