header {
     background-color: #090222;
     color: white;
}
nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     height: 3.4vh;
     width: 98%;
     margin: 0 auto;
}