.fang_toast {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.fang_toast--container {
  height: fit-content;
  width: fit-content;
  max-width: 33vw;
  max-height: 25vh;

  padding: 1em;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0.0625em;

  color: rgb(50, 100, 150);
  background-color: rgb(150, 200, 255);
  border: 1px rgb(50, 100, 150) solid;

  border-radius: 1em;
}

.fang_toast--title {
  font-weight: 700;
  text-transform: uppercase;
}

.fang_toast--container.fang_toast--failure {
  color: rgb(150, 50, 100);
  background-color: rgb(255, 150, 200);
  border: 1px rgb(150, 50, 100) solid;
}

.fang_toast--container.fang_toast--warning {
  color: rgb(150, 100, 50);
  background-color: rgb(255, 200, 150);
  border: 1px rgb(150, 100, 50) solid;
}

.fang_toast--container.fang_toast--success {
  color: rgb(50, 150, 100);
  background-color: rgb(150, 255, 200);
  border: 1px rgb(50, 150, 100) solid;
}
