<div class="fang-input">
  <input 
    [(ngModel)]="currentValue"
    [name]="id"
    [id]="id"
    [class]="currentClasses"
    [placeholder]="placeholder"
    [type]="type"
    (blur)="onBlur()"
  />
  <i
    [class]="iconClasses"
    [style]="'mask-image: url(' + iconUrl + ');'"
  ></i>
  <i 
    [class]="iconClasses"
    style="mask-image: url('./assets/icons/eye-solid.svg');"
    (click)="toggleVisibility()"
    *ngIf="trueType === 'password' && !isPasswordVisible"
  ></i>
  <i 
    [class]="iconClasses" 
    style="mask-image: url('./assets/icons/eye-slash-solid.svg');"
    (click)="toggleVisibility()"
    *ngIf="trueType === 'password' && isPasswordVisible"
  ></i>
  <ul
    class="fang-input__rules"
    *ngIf="validationRules.length > 0"
  >
    <li 
      *ngFor="let rule of validationRules"
      [class]="getRuleClasses(rule)"
    >{{rule.description}}</li>
  </ul>
</div>
