<div class="pm-input">
  <input 
    [(ngModel)]="inputRef"
    [class]="
      'pm-input__input' 
      + (hasBeenFocused && validationRules.length > 0 
      ? (validate() 
        ? ' valid' 
        : ' invalid') 
      : '')
    "
    [name]="id"
    [placeholder]="placeholder" 
    [type]="type"
  />
  <i 
    [class]="
      'pm-input__icon pm-input__icon_type'
      + (hasBeenFocused && validationRules.length > 0 
      ? (validate() 
        ? ' valid' 
        : ' invalid')
      : '')
    " 
    [style]="'mask-image: url(' + iconUrl + ');'"
  ></i>
  <i 
    [class]="
      'pm-input__icon  pm-input__icon_visibility pm-input__icon_show'
      + (hasBeenFocused && validationRules.length > 0 
      ? (validate() 
        ? ' valid' 
        : ' invalid')
      : '')
    " 
    *ngIf="type === 'password' && !passwordShown"
  ></i>
  <i 
    [class]="
      'pm-input__icon pm-input__icon_visibility pm-input__icon_hide'
      + (hasBeenFocused && validationRules.length > 0 
      ? (validate() 
        ? ' valid' 
        : ' invalid')
      : '')
    " 
    *ngIf="type === 'password' && passwordShown"
  ></i> 
  <ul class="pm-input__rules" *ngIf="validationRules.length > 0">
    <li *ngFor="let rule of validationRules" class="pm-input__rule">
      <span 
        [class]="
          hasBeenFocused 
          ? (checkRule(rule) 
            ? 'valid' 
            : 'invalid') 
          : ''
        "
      >{{ rule.description }}</span>
    </li>
  </ul>
</div>
