
<div class="formContainer">
     <button class="exit" type="button" (click)="sendEmitterToExitLoginScreen('exitRegister')">x</button>
<div class="form">

<input #username id="username" name="username" placeholder="Username" type="text">

<input #password placeholder="Password" id="password" name="password" type="password">

<input #emailOrEducationCode placeholder="Email or Education Code" id="emailOrEducationCode" name="emailOrEducationCode" type="text">

<button class="login"  (click)="onSubmit(username.value, password.value, emailOrEducationCode.value)">Login</button>
</div>
</div>






