<div class="grid-row flex-column text-center border-top border-bottom bg-primary-dark text-base-lightest">
<button type="" class="exit usa-button usa-button--secondary" (click)="sendEmitterToExitLoginScreen('exitRegister')">X</button>

<h3>Register / Login!</h3>
<input #username class="usa-input grid-col" id="username" name="username" placeholder="Enter a cool username!" type="text">

<input #password1 placeholder="Enter a super secret password!" class="usa-input grid-col" id="password" name="password" type="password">

<input #emailOrEducationCode placeholder="Email or Education Code" class="usa-input grid-col" id="emailOrEducationCode" name="emailOrEducationCode" type="text">

<button (click)="onSubmit()" class="grid-col" class="usa-button">Submit</button>
</div>





