main {
     height: 100vh;
}
app-login-screen {
     position: fixed;
     left: 50%;
     transform: translateX(-50%);
     z-index: 2;
     width: 100%;
}
app-alert {
     position: fixed;
     left: 50%;
     z-index: 2;
     width: 100%;
     transform: translateX(-50%);
}
