<main>
     <div class="intro-text">
          <h3>Projekt Monsterz</h3>
          <h4>Cool Tagline Here!</h4>
     </div>

     <div class="button-group">
          <button class="openmenu" (click)="sendEmitterForRegisterScreen('register')">Register</button>
          <a>Try Without Registration</a>
     </div>

     <footer>
          <div class="characterSheet">
               <!-- image container below: -->
               <div class="welcomeScreenMonster">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterDecor"
                         alt="Welcome Screen Monster's Head Decor"
                         src="../../assets/welcome-screen-monsters/monster0_detail.png">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterEyes"
                         alt="Welcome Screen Monster's Eyes"
                         src="../../assets/welcome-screen-monsters/monster0_eye.png">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterMouth"
                         alt="Welcome Screen Monster's Body"
                         src="../../assets/welcome-screen-monsters/monster0_mouth.png">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterBody"
                         alt="Welcome Screen Monster's Body"
                         src="../../assets/welcome-screen-monsters/monster0_body.png">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterLeftArm"
                         alt="Welcome Screen Monster's Left Arm"
                         src="../../assets/welcome-screen-monsters/monster0_arm.png">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonster2RightArm"
                         alt="Welcome Screen Monster's Right Arm"
                         src="../../assets/welcome-screen-monsters/monster0_arm.png">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterLeftLeg"
                         alt="Welcome Screen Monster's Left Leg"
                         src="../../assets/welcome-screen-monsters/monster0_leg.png">
                    <img class="welcomeScreenMonsterBodyPart welcomeScreenMonsterRightLeg"
                         alt="Welcome Screen Monster's Rigth Leg"
                         src="../../assets/welcome-screen-monsters/monster0_leg.png">
               </div>    
          </div>

     <h5>Scroll to Learn More</h5>
     <h1 class="caret-down">^</h1>
     </footer>
</main>



