<div class="login-modal">
  <div class="login-modal-container">
    <button class="btn-exit" type="button" (click)="SetModalState(0)">x</button>
    <div class="form">
      <input #username id="username" name="username" placeholder="Username" type="text" />
      <input #password id="password" name="password" placeholder="Password" type="password" />
      <span *ngIf="modalState == 2">
        <input #emailOrEducationCode id="emailOrEducationCode" name="emailOrEducationCode"
          placeholder="Email Address/Education Code" type="text" />
        <button class="btn-login" id="register-btn"
          (click)="Register(username.value, password.value, emailOrEducationCode.value)">REGISTER</button>
      </span>
      <button class="btn-login" id="login-btn" (click)="Login(username.value, password.value)"
        *ngIf="modalState == 1">LOGIN</button>
    </div>
  </div>
</div>