<div class="login-modal">
  <div class="login-modal-container">
    <button class="btn-exit" type="button" (click)="Close()">x</button>
    <div class="form">
      <input #username id="username" name="username" placeholder="Username" type="text" />
      <input #password id="password" name="password" placeholder="Password" type="password" />
      <span *ngIf="IsRegistrationMode()">
        <input #emailOrEducationCode id="emailOrEducationCode" name="emailOrEducationCode" placeholder="Email Address/Education Code" type="text" />
        <button class="btn-login" id="register-btn" (click)="Register(username.value, password.value, emailOrEducationCode.value)">Register</button>
      </span>
      <button class="btn-login" id="login-btn" (click)="Login(username.value, password.value)" *ngIf="IsLoginMode()">Login</button>
    </div>
  </div>
</div>
