:root {
  /** Colours -> Standard */
  /** Black */
  --colour-black-100: rgba(1, 2, 3, 1.00);
  --colour-black-75: rgba(1, 2, 3, 0.75);
  --colour-black-50: rgba(1, 2, 3, 0.50);
  --colour-black-25: rgba(1, 2, 3, 0.25);
  --colour-black-12: rgba(1, 2, 3, 0.125);
  /** White */
  --colour-white-100: rgba(240, 240, 245, 1.00);
  --colour-white-75: rgba(240, 240, 245, 0.75);
  --colour-white-50: rgba(240, 240, 245, 0.50);
  --colour-white-25: rgba(240, 240, 245, 0.25);
  /** Red */
  --colour-red-lighter: rgb();
  --colour-red: rgb();
  --colour-red-darker: rgb();
  /** Orange */
  --colour-orange-lighter: rgb();
  --colour-orange: rgb();
  --colour-orange-darker: rgb();
  /** Yellow */
  --colour-yellow-lighter: rgb();
  --colour-yellow: rgb();
  --colour-yellow-darker: rgb();
  /** Green */
  --colour-green-lighter: rgb();
  --colour-green: rgb();
  --colour-green-darker: rgb();
  /** Blue */
  --colour-blue-lighter: rgb();
  --colour-blue: rgb();
  --colour-blue-darker: rgb();
  /** Indigo */
  --colour-indigo-lighter: rgb();
  --colour-indigo: rgb();
  --colour-indigo-darker: rgb();
  /** Violet */
  --colour-violet-lighter: rgb();
  --colour-violet: rgb();
  --colour-violet-darker: rgb();
  /** Magenta */
  --colour-magenta-lighter: rgb();
  --colour-magenta: rgb();
  --colour-magenta-darker: rgb();

  /** Colours -> Theme */
  --colour-primary-foreground: var(--colour-white-100);
  --colour-primary-lighter: rgb(249, 120, 144);
  --colour-primary: rgb(244, 37, 76);
  --colour-primary-darker: rgb(172, 13, 42);

  --colour-secondary-foreground: var(--colour-black-100);
  --colour-secondary-lighter: rgb(244, 254, 255);
  --colour-secondary: rgb(194, 245, 255)  ;
  --colour-secondary-darker: rgb(125, 211, 225);

  /** Colours -> Component */
  --modal-background: var(--colour-white-100);
  --modal-foreground: var(--colour-black-50);
  --modal-overlay-background: var(--colour-black-50);

  --colour-input-foreground: rgba(1, 2, 3, 0.75);
  --colour-input-background: var(--colour-white-100);

  --colour-input-focus: rgb(247, 176, 93);
  --colour-input-focus-25: rgba(247, 176, 93, 0.25);
  --colour-input-focus-shadow: rgba(247, 176, 93, 0.0625);
  --colour-input-focus-background: rgb(253, 248, 241);

  --colour-input-invalid: rgb(230, 37, 106);
  --colour-input-invalid-50: rgba(230, 37, 106, 0.50);
  --colour-input-invalid-25: rgba(230, 37, 106, 0.25);
  --colour-input-invalid-12: rgba(230, 37, 106, 0.125);
  --colour-input-invalid-shadow: rgba(230, 37, 106, 0.0625);
  --colour-input-invalid-background: rgb(255, 240, 245);

  --colour-input-valid: rgb(43, 167, 78);
  --colour-input-valid-50: rgba(43, 167, 78, 0.50);
  --colour-input-valid-25: rgba(43, 167, 78, 0.25);
  --colour-input-valid-12: rgba(43, 167, 78, 0.125);
  --colour-input-valid-shadow: rgba(43, 167, 78, 0.0625);
  --colour-input-valid-background: rgb(240, 251, 243);

  --header-background-color: #481557;
  --header-text-color: #f2f4e7;
  --modal-background-color: rgba(0, 0, 0, 0.5);
  --login-modal-background-color: #9A103F;
  --login-modal-text-color: white;
  --text-input-background-color: #c0f6ff;
  --login-modal-border-color: rgb(125, 211, 225);
  --text-input-color: #240101;
  --login-button-background-color: #fe1a55;
  --login-button-text-color: white;
  --login-exit-button-color: #f2f4e7;
  --dashboard-background: rgb(244, 37, 76);
  --icon-color: white;
  --leaderboard-indication-light: green;
  --module-background-color: rgb(194, 245, 255);
  --module-box-shadow: #83d1e1;
  --leaderboard-odd-background-color: #a5c1f0;
  --leaderboard-circle-color: blue;
  /* Continue at dashboard component */
}