@import url("./_normalise.css");
@import url("./_variables.css");

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: "Kanit", sans-serif;
  font-size: 18pt;
  font-variant-caps: all-small-caps;
  color: var(--colour-primary-foreground);
  letter-spacing: 0.0625em;

  background-color: var(--colour-primary);
}

main.pm-page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
