:root {
  --header-background-color: #481557;
  --header-text-color: #f2f4e7;
  --modal-background-color: rgba(0, 0, 0, 0.5);
  --login-modal-background-color: #9A103F;
  --login-modal-text-color: white;
  --text-input-background-color: #c0f6ff;
  --login-modal-border-color: #7dd3e1;
  --text-input-color: #240101;
  --login-button-background-color: #fe1a55;
  --login-button-text-color: white;
  --login-exit-button-color: #f2f4e7;
  --dashboard-background: #f4254c;
  --icon-color: white;
  --leaderboard-indication-light: green;
  --module-background-color: #c2f5ff;
  --module-box-shadow: #83d1e1;
  --leaderboard-odd-background-color: #a5c1f0;
  --leaderboard-circle-color: blue;
  /* Continue at dashboard component */
}